html {
  color: #ffffff;
  background-color: #000000;
}

h1 {
  color: #000000;
}

.section-1 {
  color: #ff9d00;
}

.section-2 {
  color: #f1bc67;
}

.section-3 {
  color: #ff9d00;
}

@media only screen and (min-width: 25em) {

  .section-1 {
    color: #ff3300;
  }

  .section-2 {
    color: #f9b5a4;
  }

  .section-3 {
    color: #ff3300;
  }

}

@media only screen and (min-width: 38em) {

  .section-1 {
    color: #00bab7;
  }

  .section-2 {
    color: #609695;
  }

  .section-3 {
    color: #00bab7;
  }

}

@media only screen and (min-width: 60em) {

  .section-1 {
    color: #ff9d00;
  }

  .section-2 {
    color: #f1bc67;
  }

  .section-3 {
    color: #ff9d00;
  }

}

@media only screen and (min-width: 90em) {

  .section-1 {
    color: #ff3300;
  }

  .section-2 {
    color: #f9b5a4;
  }

  .section-3 {
    color: #ff3300;
  }

}
